In [1]:
import numpy as np
import pandas as pd
import matplotlib as mp
import nltk
import re
import seaborn as sns
import warnings


import string

from wordcloud import WordCloud,STOPWORDS

from bs4 import BeautifulSoup

warnings.filterwarnings("ignore", category=DeprecationWarning)

%matplotlib inline

In [12]:
job_df = pd.read_csv(r"datasets/twitter-job-hunter-chatbot.csv", parse_dates=True, engine="python")
job_df.sample(10)

,Datetime,Text,Source,harsh tag,Favourite Count,Retweets,6,7,submitter_name
20624,2020-07-18 13:53:54+00:00,Splash Damage is looking for: Senior Gameplay ...,AlixFong,NaN,0.0,0.0,0.0,0.0,Eric Nzivo
10934,2020-07-08 09:46:06+00:00,#Vacancy: FEPS is recruiting one #accountant. ...,FEPS_Europe,NaN,6.0,4.0,0.0,0.0,Eric Nzivo
25992,7/16/2020 6:11,Aluminium Bathroom door.\r\nUpgrading and fitt...,"Nairobi, Kenya",[],23154.0,6.0,7.0,0.0,Henry Gathuri
26895,07/10/2020 16:27,Are you a qualified writer intern? @CampoeKE j...,Kenya,[],6652.0,0.0,0.0,0.0,Henry Gathuri
13321,2020-06-25 10:55:16+00:00,UPS is #hiring a Package Delivery Driver in Mi...,joblify_app,NaN,0.0,0.0,0.0,0.0,Eric Nzivo
4420,2020-07-17 06:02:10+00:00,Job Hunting can be emotionally draining . To e...,Simon_Ingari,NaN,1.0,0.0,4342.0,4994.0,Dennis Mwaniki
21907,2020-07-15 22:07:06+00:00,Looking for more job opportunities? Check out ...,KaziQuest,NaN,1.0,0.0,0.0,0.0,Eunice Mutahi
20606,2020-07-18 14:00:08+00:00,New #job: CNC MACHINIST - FITTER MACHINIST - T...,RECRUITAU,NaN,0.0,0.0,0.0,0.0,Eric Nzivo
10456,2020-07-10 07:58:44+00:00,Two exciting #opportunities @Broxtowewomen #VA...,BroxtoweCAB,NaN,2.0,2.0,0.0,0.0,Eric Nzivo
21643,2020-07-17 08:06:16+00:00,#IkoKaziKE I need someone to quote for me how ...,qathuryma,NaN,0.0,1.0,0.0,0.0,Eunice Mutahi

In [13]:
#Testing enumerate function on how it works.
lst= [1,2,21,4,43,1,2,1,2,2,223,5,6,7,8,7,34,6,45,776,655,454]
for x,y in enumerate(lst):
    if x <11 and x>5:
        print(x,y)

6 2
7 1
8 2
9 2
10 223

In [14]:
job_df.isnull().values.any()

True

In [15]:
job_df['Text'].isnull().values.any()

False

In [16]:
job_df['Source'].isnull().values.any()

True

In [17]:
job_df = job_df[~job_df['Source'].isnull()]
job_df['Source'].isnull().values.any()

False

In [18]:
job_df = job_df[["Datetime",'Text', "Source"]]
job_df.sample(10)

,Datetime,Text,Source
28082,13/07/2020 17:09,@pazuri_fashion on Instagram is looking for si...,TðŸŒ¸
7653,2020-06-30 10:35:08+00:00,"KOT: For all your phone repairs, laptops and s...",Charleswahinya_
17504,2020-07-08 17:55:40+00:00,Job Hunting can be emotionally draining . To e...,Simon_Ingari
14555,2020-06-18 12:20:04+00:00,We are looking for a Tax Manager and Personal ...,HWNorwich
27163,18/07/2020 15:09,"RT @moseslucas2: For The Best Car Deals, â˜Žï¸...",Twitter Web App
1454,17/07/2020 18:15,#newjob alert! We are looking for a #Bartender...,TweetDeck
2606,17/07/2020 17:54,RT @tbsrecruiters: TBS Pro Tip: Itâ€™s easy to...,Twitter Web App
814,17/07/2020 18:14,RT @CareersWestMids: If you're looking for som...,TweetCaster for Android
17970,2020-07-07 09:05:24+00:00,Hello guys assist me to get followers: Retweet...,riziki_pendo
19856,2020-07-18 19:19:10+00:00,New #jobs added! Find your #dream role today o...,VentureFizz

In [19]:
def lower_token(tokens):
    return [w.lower() for w in tokens]

In [20]:
def removeStopWords(tokens):
    stoplist = stopwords.words('english')
    return [word for word in tokens if word not in stoplist]

In [ ]:
def cleaning(message):
    # removing any html tags available
    html_text = BeautifulSoup(message, "html.parser").get_text()
    
    # Removing capital letters
    letters = html_text.lower()
    
    # Removing numbers and special characters
    letters = re.sub