In [29]:
# Import Tweeter APIs
import tweepy as tp
import GetOldTweets3 as got

#Import pandas to save as a csv file
import pandas as pd

In [30]:
#Twitter API access token and consumer key with their authentication code
consumer_key = "lp7R64pjGZ1nvO3HCPktir1RX"
consumer_secret = "TyhGYXHVzeu0PPZOAM5TVmEn69VOTLVqFirMW8vgXGHLyBj5mQ"
access_token = "609115528-ZlxULQ6v1bJOSoh44J99vZMob0mtXDiCNWZQ28cC"
access_secret = "P2X1lnsWTsim0VJOwWeXOmZbkmfMzqsHoLnXmdapjQJzg"

#Access the Twittere API
auth = tp.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)
api = tp.API(auth, wait_on_rate_limit=True)

In [31]:
#Key words to search for and maximum tweets to return
tweet_query = ['#vacancy','#ikokazike','#job']
count = 20000

In [32]:
#Scrap for tweets with search terms
job_tweets = []
for t_query in tweet_query:
    tweetCriteria = got.manager.TweetCriteria().setQuerySearch(t_query)\
                                                .setMaxTweets(count)
    tweets = got.manager.TweetManager.getTweets(tweetCriteria)
    tweets_lst = [[tw.date, tw.text, tw.username, tw.retweets, tw.favorites, tw.geo] for tw in tweets]
    job_tweets.extend(tweets_lst)
    print(len(tweets_lst))

7182
4175
2108

In [33]:
#Convert scrapped results to dataframe
tweets_df = pd.DataFrame(job_tweets, columns=["Date", "Post", "Username","Retweets", "Favorites", "Geo"])
tweets_df.sample(10)

,Date,Post,Username,Retweets,Favorites,Geo
6287,2020-06-19 05:06:52+00:00,#Sarkarinaukri #Govtjobs #Jobs #Vacancy #SSC20...,cgtop36,2,1,
9555,2020-07-08 07:20:31+00:00,#IkoKaziKE,AlexeeSam,0,1,
584,2020-07-16 14:30:53+00:00,#vacature: we zoeken een HR-adviseur en een Pr...,dorcashulp,3,2,
3668,2020-07-02 23:00:20+00:00,text AMMZ to GOARMY (462-769) or click the lin...,ArmyTeamAtlanta,0,0,
840,2020-07-16 05:00:24+00:00,07808 645 181 | team@therecruitmentlounge.com ...,RecruitLounge,2,1,
2296,2020-07-10 07:01:27+00:00,Deputy Manager #vacancy with @BalhousieCare ba...,JCPinNorthScot,0,0,
1126,2020-07-15 07:34:51+00:00,New #vacancy #DoubleBass @AntwerpSymphony Antw...,muvac,0,0,
10683,2020-07-01 08:21:27+00:00,Health Records Officer https://hreastafrica.co...,kevo_kinyanjui,0,0,
13283,2020-07-18 07:42:26+00:00,RT @PremiseSara: We need #strong #leaders in #...,TV_HIEC_Chair,0,0,
12818,2020-07-18 11:13:24+00:00,ServiceNow is looking for: Senior Software Eng...,DanielWaite_NOW,0,0,

In [34]:
tweets_df.count()

Date         13465
Post         13465
Username     13465
Retweets     13465
Favorites    13465
Geo          13465
dtype: int64

In [35]:
#Save scrapped data in a csv file
tweets_df.to_csv(path_or_buf="TweetsScrapped_JobChatbot.csv", index_label="index")